# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
env/
.venv/
.env/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Logs and database
*.log
*.sqlite3
*.db
*.sql

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Environment variables
.env
.env.*
*.env

# Jupyter Notebook
.ipynb_checkpoints

# Flask specific
instance/
.webassets-cache

# IDE specific
.vscode/
.idea/
*.sublime-workspace

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React build output
build/
static/
